.border-muted{
	border-color: #AAAAAA;
	border-width: 5px !important;
}
.input-group img{
	width: 37px;height: 37px;
}
.breadcrumb{
	background-color: transparent;
}
.navbar-brand img{
	width: 40px;
	height: 45px;
}
.navbar-brand img+img{
	width: 100px;
	height: 45px;
}
a.active{
	color: #0062CC !important;
}