.header{
	width: 100%;
}
.footer{
	width: 100%;
}
@media screen and (min-width:992px) {
	.header{
	    height: 100px;
	}
	.footer{
	    height: 300px;
	}
}
@media screen and (max-width:991px) {
	.header{
	    height: 170px;
	}
	.footer{
	    height: 500px;
	}
}
.carousel-control-prev,.carousel-control-next{
	width: 4%;
	height: 20%;
	background-color: #AAAAAA;
	border-radius: 0.25rem;
	top: 40%;
}